{% extends "layout.html" %}

{% block content %}

    <h1>{{ course.code }}: {{ course.name }}</h1>
    <hr>
    
    <div class="reviews">
        {% for review in course.reviews %}
        <div class="comment-box">
            <div class="author">
                {{ review.user.username }}    
            </div>
            <div class="comment">
                {{ review.review }}
            </div>
            <div class="rating">
                {{ review.date.strftime("%d-%m-%Y") }}
            </div>
        </div>
        {% endfor %}
    </div>    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Review</th>
                <th scope="col">Rating</th>
                <th scope="col">Date</th>

            </tr>
        </thead>
        <tbody>
            {% for review in course.reviews %}
            <tr>
                <td>{{ review.user.username }}</td>
                <td>{{ review.review }}</td>
                <td>{{ review.rating }}</td>
                <td>{{ review.date.strftime("%d-%m-%Y") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if current_user.is_authenticated %}
    <form method="get" action="{{ url_for('course_review', course_id=course.id) }}">
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Review Course</button>
    </form>
    {% endif %}

{% endblock %}

