{% extends "layout.html" %}
{% block content %}
<body>
    <h1>Dan's List</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="form-label-group">
            {% if form.search.errors %}
               {{ form.search(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for search in form.search.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.search(class="form-control") }}
            {% endif %}
            </div>
        </div>
        {{ form.submit(class="btn btn-primary btn-block")}}
    </form>

</body>
</br>
        <tbody>
            <div class="auto_container">
            {% for course in courses %}
            <a href="{{ url_for('course', course_id=course.id) }}">
                <div class="small card">
                    <header class="title">{{ course.code }}</header>
                    <img class="pic" src="http://lorempixel.com/image_output/city-q-g-640-480-9.jpg" alt=""/>
                    <div class="content">
                      <strong>{{ course.name }}</strong>
                      <hr>
                      
                        {% for i in range(course.rating|int) %}
                        <span class="fa fa-star checked"></span>
                        {% endfor %}
                        {% for i in range(5-course.rating|int) %}
                        <span class="fa fa-star"></span>
                        {% endfor %}
                    </div>
                </div>
            </a>
            {% endfor %}
            </div>
        </tbody>


{% endblock %}